{% extends 'base.html' %}


{% block content %}
	
	<h1>{{name}} Calculator</h1>
		
		
	<form action="div" method="post">
		{% csrf_token %}
		Enter 1st num: <input type="text" name="num1">
		Enter 2st num: <input type="text" name="num2">
		<input type="submit">
		
		
	</form>
	<br>{{val1}} {{opr}} {{val2}} {{equ}} {{res}}
	<br>________________________________________<br>
	<a href="addcalc">Addtion Calcuator</a> 
	<a href="subcalc">Substraction Calculator</a>
	<a href="multcalc">Multiplication Calculator</a> 
{% endblock %}